{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Home page</h1>
            <p>1 + 1 is equal to {{index .IntMap "no1"}}</p>

        </div>
    </div>
</div>

{{end}}